div.language-plaintext {
  border-left: 3px solid #D7BCFD;
}

.highlight,
.rst-content div[class^=highlight] {
  background-color: transparent !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.highlight .hll {
  background-color: #f9f1c9;
}

.highlight .dl,
.highlight .err,
.highlight .gd,
.highlight .gr,
.highlight .kt,
.highlight .ne,
.highlight .no,
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .sh {
  color: #e04542;
}

.highlight .fm,
.highlight .gh,
.highlight .gp,
.highlight .gt,
.highlight .nc,
.highlight .nf,
.highlight .nn,
.highlight .nv,
.highlight .ss,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #4b7ad9;
}

.highlight .bp,
.highlight .gi,
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .nb,
.highlight .nt,
.highlight .sx {
  color: #32a859;
}

.highlight .go,
.highlight .il,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .ni,
.highlight .o,
.highlight .w {
  color: #a9a8af;
}

.highlight .c,
.highlight .c1,
.highlight .ch,
.highlight .cm,
.highlight .cpf,
.highlight .cs {
  color: #2aa1a4;
}

.highlight .cp,
.highlight .se {
  color: #df7a30;
}

.highlight .nd,
.highlight .ow {
  color: #9553f8;
}

.highlight .si,
.highlight .sr {
  color: #e54399;
}

.highlight .na,
.highlight .nl {
  color: #b0aa31;
}

.highlight .gu {
  color: #c846e0;
}

.highlight .ne,
.highlight .gh,
.highlight .gp,
.highlight .nc,
.highlight .nn,
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kr,
.highlight .nt,
.highlight .ni,
.highlight .se,
.highlight .ow,
.highlight .si,
.highlight .gu,
.highlight .gs {
  font-weight: 700;
}

.highlight .sd,
.highlight .c,
.highlight .c1,
.highlight .ch,
.highlight .cm,
.highlight .cpf,
.highlight .cs,
.highlight .ge {
  font-style: italic;
}
